@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@600;700&display=swap");

:root {
  --red: #f7073b;
  --grey: #5e605e;
  --black: #1a1a1a;
  --yellow: #d1e000;
  --darkgreen: #0ea532;
}